[project]
name = "server"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
  "grpcio>=1.76.0",
  "grpcio-tools>=1.76.0",
  "pillow>=12.0.0",
  "torch>=2.9.1",
  "torchvision>=0.24.1",
]